@CHARSET "ISO-8859-1";

body {
	color: #fff;
	
	font-family: Arial;
	padding: 0;
	margin: 0;
	background-color: #111;
	
	background-image: url('https://fc01.deviantart.net/fs9/i/2006/069/5/3/Dark_Squares_III_by_iAmFreeman.jpg');
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

*:focus{
	outline:none;
}

hr {
	border: 0;
    border-bottom: 1px dashed #ccc;
    background: #999;
}

p.footerText{
	font-size: 70%;
	color: #999;
}

h2 {
	color: #f00;
	background-color: #222;
	width: 100%;
	padding: 10px 0;
	margin: 10px 0 0 0;
	box-shadow: 0 0 3px #000;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #C80000;
	border-bottom-color: #C80000;
}

label{
	display: none;
}

h3 {
	color: #fff;
	background-color: #C80000;
	width: 100%;
	margin: 10px 0 0 0;
	border-top-right-radius: 5px;	
	border-top-left-radius: 5px;
	box-shadow: 0 0 3px #f00;
}

a {
	text-decoration: none;
	color: #C80000;
}

a:hover {
	color: #FF2D2D;
}

h1#header {
		margin: auto 0;
		float: left;
}

div#headerBar {
	top: 0;
	left: 0;
	margin: 0;
	padding: 0 10x;
	width: 100%;
	position: fixed;
	background-color: #111;
	position: fixed;
	width: 100%;
	box-shadow: 0 0 10px #000;
	color: #fff;
}

div#linkBar {
	display: inline-block;
}

div#linkbar p a {
	font-size: 150%;
	text-transform: uppercase;
	padding: 10px 5px 15px 5px;
	color: #f33;
}

div#linkbar p a.active{
	color: #C80000;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

div#linkbar p a:hover {
	color: #f00;
	border-bottom-width: 2px;
	border-bottom-style: solid;
}

div#account {
	float: right;
	padding: 14px 0;
}

div.container {
	text-align: center;
	width: 1000px;
	margin: 0 auto;
}

div#picBox {
	left: 50px;
}

div#categoryColumn {
	float: left;
	width: 195px;
}

div#contentColumn {
	display: inline-block;
	margin: 0 5px;
	width: 600px;
}

div#mainContainer{
	box-shadow: 0 -50px 50px #fff;
}

div#rightColumn {
	float: right;
	width: 195px;
}

div.contentBox {
	padding: 2px 10px;
	text-align: left;
	background-color: #222;
	margin: 0 auto 10px auto;
	box-shadow: 0 0 3px #000;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
	color: #fff;
}

div.categories ul{
	padding: 0;
}

div.categories ul li {
	list-style-type: none;
	margin: 10px 0;
}

div.categories ul li a{
	color: #e00;
}

div.categories ul li a.active{
	color: #C80000;
	border-left-style: solid;
	padding: 0 0 0 10px;
	margin: 0 0 0 -10px;
}

div.categories ul li a:hover{
	color:#f00;
	font-weight: bold;
	border-left-style: solid;
	padding: 0 0 0 10px;
	margin: 0 0 0 -10px;
}

div#footer {
	background-color: #444;
	color: #fff;
	left: 0;
	bottom: 0;
	position:fixed;
	width: 100%;
}

input#inputTextSearch {
	float: left;
	width: 145px;
}

button#buttonSearch {
	width: 30px;
}

img {
	width:100%;
}

div#picBox{
	box-shadow: inset 0 -50px 50px 6px #000;
}

div#picBox img{
	display: block;
	z-index: -1;
}


form.form{
	width: 500px;
	margin:0 auto;
}

form.form input{
	width:100%;
	height:30px;
	margin:10px auto;
	border-radius: 3px;
}

input[type="text"], input[type="password"]{
	width:100%;
	padding: 0 10px;
	border-style: none;
	border-bottom-style: solid;
	border-bottom-color: #f00;
	background-color: #333;
	color: #fff;
}

input[type="submit"]{
	color: white;
	border-style: none;
	border-radius: 3px;
	background-color: #C80000;
}

input[type="submit"]:hover{
	background-color: #f00;
	box-shadow: 0 0 5px #f00;
}

input[type="submit"]:active{
	color: white;
	border-style: solid;
	border-color: #f00;
	background-color: #900;
}

input#submitSearch{
	background-image: url('view/img/search.png');
}

@media screen and (min-width: 1050px){
	
}

@media screen and (max-width: 1050px){
	h1#header{
		float: none;
	}
	
	div#headerBar{
		position: absolute;
	}
	
	div#categoryColumn{
		display: none;
	}
	
	div#rightColumn{
		display: none;
	}
	
	div#contentColumn{
		width: 100%;
	}
	
	div.content{
		width:100%;
	}
	
	div.container{
		width:100%;
	}
}